/* 
    Created on : 09-jun-2018, 17:55:23
    Author     : Alejandro Landini
*/

.mpi-header-avatar{
            width: 36px;
            height: 36px;
            border-radius: 6px;
            margin: -11px 0 0 3px;
        }
